{% extends "links/base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="mx-auto mt-5 jumbotron text-center">
      {% if process == "connect" %}
      <h3 class="border-bottom border-dark">{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h3>

      <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from
        {{ provider }}.{% endblocktrans %}</p>
      {% else %}
      <h3 class="border-bottom border-dark">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h3>

      <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from
        {{ provider }}.{% endblocktrans %}</p>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">{% trans "Continue" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}