body {
    color: #050a30;
    /* background-image: linear-gradient(to bottom, #FFFFFF, rgb(255, 122, 89)); */
}

#logo {
    
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

header {
    height:125px;
}
/* footer, header{
    background-color: white;
} */
#logo-image{
    width: 125px;
}

.dropdown button {
    border-width: 0px;
    background-color: white;
}

a {
    color: #050a30;
}

#footer-logo {
    width: 100px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    /* border-radius: 50%; */
    font-size: 32px;
    line-height: 7px;
    text-align: center;
    color: #111010;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #2196f3;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    border-top: 2px solid lightgrey;
}

.jumbotron {
    background-color: #77c3ff;
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 0.5rem;
    width: 40%;
    margin: 0.2rem auto;
}

.profile-image {
    width: 100px;
    height: 100px;

}

#external-page-link-boxes {
    background-color: #77c3ff;
}

.link-boxes {
    background-color: #77c3ff;
    max-width: 40%;
}

.link-boxes-buttons {
    max-width: 40%;
    border:none;
}


body.dragging,
body.dragging * {
    cursor: move !important;
}

#external-page-link-boxes:hover {
    background-color: #007bff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
/* }

ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
} */ */

#home-profile-image {
    width: 75px;
    height: 75px;
}

hr {
    margin-top: 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: #050a30;
}


@media screen and (max-width: 1000px) {
    
    .jumbotron {
        width: 80%;
    }


.link-boxes {
    background-color: #77c3ff;
    max-width: 90%;
}

.link-boxes-buttons {
    max-width: 90%;
    border:none;
}

}