body {
    color: #050a30;
    background-image: linear-gradient(rgb(128, 128, 128), white, grey);
    font-family: 'Montserrat', sans-serif;
}

/* Nav-Bar */

.navbar {
    border-bottom: solid;
    border-color: lightgray;
}

/* Header and footer*/

.btn-login {
    width: 100px;
}

#google-login {
    width: 202px;
    background-color: white;
}

/* Header and footer*/

#logo {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

#logo-image {
    width: 125px;
}

header {
    height: 125px;
    margin-bottom: 10px;
}

.navbar-nav .dropdown-menu {
    position: relative;
}

footer {
    height: 100px;
    background-color: white;
    border-top: solid;
    border-color: lightgray;
}

.dropdown button {
    border-width: 0px;
    background-color: white;
}

.profile-image,
.company-profile-pic {
    width: 100px;
    height: 100px;
}

#footer-logo {
    width: 100px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    font-size: 32px;
    line-height: 7px;
    text-align: center;
    color: #111010;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #2196f3;
}

#home-profile-image {
    width: 75px;
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: #050a30;
}

/*For sticky Footer */

html,
body {
    /* IE 10-11 didn't like using min-height */
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
    /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
}

.footer {
    flex-shrink: 0;
    /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    padding: 20px;
}

/*Homepage */

#link-builder-phone {
    max-height: 50vh;
}

#login-link:hover {
    color: black;
}

/*Index Page */

#addlink,
#previewpage,
#home,
#add-ticket {
    background-color: #050a30;
    border-color: #050a30;
}

#addlink:hover,
#previewpage:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

/*General mark-up */

a,
.btn {
    color: #050a30;
}

.btn-danger {
    color: white;
}

a:hover,
.btn:hover {
    color: white;
}

hr {
    margin-top: 10px;
}

h1 {
    font-size: 2rem;
}

.btn-success {
    background-color: lightgreen;
}

.jumbotron {
    background-color: #77c3ff;
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 0.5rem;
    width: 40%;
    margin: 0.2rem auto;
}

/* External Page viewable without login */

.external-page-link-boxes:hover {
    background-color: #4ffa7a;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    color: #050a30;
}

.urltitle {
    font-size: 1.25rem;
}

.url-image {
    width: 100px;
    height: 100px;
}

.external-page-link-boxes {
    background-color: #77c3ff;
}

.link-boxes {
    background-color: #77c3ff;
    max-width: 40%;
}

.link-boxes-buttons {
    max-width: 40%;
    border: none;
}

/* Media queries for devices below 1000px */

@media screen and (max-width: 1000px) {

    .jumbotron {
        width: 80%;
    }


    .link-boxes {
        background-color: #77c3ff;
        max-width: 100%;
    }

    .link-boxes-buttons {
        max-width: 90%;
        border: none;
    }

    .url-image,
    .profile-image {
        height: 75px;
        width: 75px;
    }

    .col-6 {
        padding-right: 5px;
        padding-left: 5px;
    }

    .navbar {
        padding: 0.5rem 0.25rem;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }

}