{% extends "links/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .form-group {
        max-width: 90%;
        margin: 1rem auto;
    }
</style>
    <div class="content-section jumbotron mx-auto mt-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 border-dark text-center">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-success" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}