{% extends "links/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="content-section jumbotron text-center mx-auto mt-5 p-3">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 border-dark">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-warning" type="submit">Request Password Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}