{% extends "links/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="jumbotron">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center border-bottom border-dark">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div>
            Public Address: <a href="{% url 'external-view' user.username %}" target="_blank">http://www.linkbuilder.com/user/{{user.username}}</a>
        </div>
        <div class="form-group text-center mt-2">
            <button class="btn btn-success" type="submit">Update</button>
            <a class="btn btn-danger" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
            
        </div>
    </form>
</div>

{% endblock %}