{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="jumbotron">

    <h2>Edit details</h2>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form |crispy }}
        <div>
            <p>
                <button type="submit" class="btn btn-success">
                    Update
                </button>
                <button class="btn btn-danger" type="button"
                    onclick="location.href='{% url 'links-home' %}'">Cancel</button>
            </p>

        </div>
    </form>
</div>




{% endblock %}