{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <a href="{% url 'add-link' %}"><button class="btn btn-success">Add an item</button></a>
</div>


{% for url in dataset %}

        
<div class="jumbotron">


    <div class="text-center">
        {{ url.title }} <a href="{% url 'edit-link' url.id %}">
            <i data-toggle="edit" class="bi bi-pencil-square" title="Edit Link"></i>
        </a>
    </div>
    <div class="text-center">
        <td>{{ url.link }}</td> <a href="{% url 'edit-link' url.id %}">
            <i data-toggle="edit" class="bi bi-pencil-square" title="Edit Link"></i>
        </a>
    </div>
    <div class="text-center">
        <a href="{% url 'delete-link' url.id %}">
            <i data-toggle="delete" class="bi bi-archive" title="Delete Link"></i>
        </a>
    </div>
</div>



{% empty %}

<tr>
    <td>You have no data</td>
</tr>
{% endfor %}


{% endblock %}