{% extends "base.html" %}

{% block content %}


{% for url in object_list %}


<table>
    <tr>

        <td>{{ url.title }}</td>
        <td>{{ url.link }}</td>
        <td>
            <a href="{% url 'edit-link' url.id %}">
                <button>
                    Edit
                </button>
            </a>
        </td>
        <td>
            <a href="{% url 'delete-link' url.id %}">
                <button>
                    Delete
                </button>
            </a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td>You have no data</td>
    </tr>


{% endfor %}
</table>
<a href="{% url 'add-link' %}"><button>Add an item</button></a>



{% endblock %}