{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
    <!-- <div class="media"> -->
    <div class="text-center">
        {% if "placeholder" in user.profile.profile_image.url %}
        <img class="profile-image rounded-circle account-img"
            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
        {% else %}
        <img class="profile-image rounded-circle account-img" src="{{ user.profile.profile_image.url }}">
        {% endif %}
    </div>
    <table class="table">
        <tr>
            <td>Username</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr></tr>
        <td>Email</td>
        <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Company Name</td>
            <td>{{ user.profile.company_name }}</td>
        </tr>
        <tr>
            <td>Facebook</td>
            <td>{{ user.profile.facebook }}</td>
        </tr>
        <tr>
            <td>Instagram</td>
            <td>{{ user.profile.instagram }}</td>
        </tr>
        <tr>
            <td>Twitter</td>
            <td>{{ user.profile.twitter }}</td>
        </tr>
    </table>

</div>
{% endblock %}