{% extends "links/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">
    <h2 class="text-center border-bottom border-dark">Edit details</h2>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
    
                <button type="submit" class="btn btn-success">
                    Update
                </button>
                <button class="btn btn-danger" type="button"
                    onclick="location.href='{% url 'links-home' %}'">Cancel</button>
        
        </div>
    </form>
</div>




{% endblock %}