{% extends "links/base.html" %}

{% block content %}

<div class="link-boxes-buttons container border mb-2 border-0">
    <div class="row">
        <div class="col-6 text-center pl-0">
            <a href="{% url 'add-link' %}"><button class="btn btn-success btn-block rounded-pill font-weight-bold">Add a link</button></a>
        </div>
        <div class="col-6 text-center pr-0">
            <a href="{% url 'external-view' user.username %}"><button class="btn btn-success btn-block rounded-pill font-weight-bold">Preview
                    Page</button></a>
        </div>
    </div>
</div>
{% for url in dataset %}

<div class="link-boxes container border mb-2 py-3">


    <div class="row">
        <div class="col-6">
            <div class="font-weight-bold">
                {{ url.title }}<a href="{% url 'edit-link' url.id %}">
                    <i data-toggle="edit" class="bi bi-pencil" title="Edit Link"></i>
                </a>
            </div>
            <div>
                {{ url.link }}<a href="{% url 'edit-link' url.id %}">
                    <i data-toggle="edit" class="bi bi-pencil" title="Edit Link"></i>
                </a>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <a href="{% url 'delete-link' url.id %}">
                        <button class="btn btn-danger btn-block rounded-pill font-weight-bold">Delete</button>
                    </a>
                </div>
                <div class="col-6">
                    <a href="/toggle/{{ url.id }}">

                        {% if url.visible is True %}
                        <button class="btn btn-danger btn-block rounded-pill font-weight-bold" id="hidebutton">Hide</button>
                        {% else %}
                        <button class="btn btn-success btn-block rounded-pill font-weight-bold" id="showbutton">Show</button>
                        {% endif %}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% empty %}

<tr>
    <td>You have no data</td>
</tr>

{% endfor %}


{% endblock %}