{% extends "links/base.html" %}

{% block content %}

<div class="link-boxes-buttons container border mb-2 border-0">
    <div class="row">
        <div class="col-6 text-center pl-0">
            <a href="{% url 'add-link' %}" id="addlink"
                class="btn btn-success btn-block rounded-pill font-weight-bold text-white" title="Add a link">Add a
                link</a>
        </div>
        <div class="col-6 text-center pr-0">
            <a href="{% url 'external-view' user.username %}" id="previewpage"
                class="btn btn-success btn-block rounded-pill font-weight-bold text-white"
                title="Preview your customer LinkBuilder Page">Preview
                Page</a>
        </div>
    </div>
</div>

{% for url in dataset %}
<div class="link-boxes container border mb-2 py-3 rounded wrapper">
    <div class="row">
        <div class="col-6">
            <div class="font-weight-bold overflow-hidden">
                {{ url.title }}<a href="{% url 'edit-link' url.id %}">
                    <i data-toggle="edit" class="bi bi-pencil" title="Edit Link"></i>
                </a>
            </div>
            <div class="overflow-hidden">
                {{ url.link }}<a href="{% url 'edit-link' url.id %}">
                    <i data-toggle="edit" class="bi bi-pencil" title="Edit Link"></i>
                </a>
            </div>
            <div>
                <small class="text-white" data-toggle="tooltip" data-placement="right" title="Number of clicks this link has received on your linkbuilder site">Click count = {{ url.click_count }}</small>
            </div>
        </div>
        <div class="col-6">
            <div class="row h-100">
                <div class="col-6 my-auto">
                    <a class="btn btn-danger btn-block rounded-pill font-weight-bold text-white"
                        href="{% url 'delete-link' url.id %}">Delete</a>
                </div>
                <div class="col-6 my-auto">
                    {% if url.visible is True %}
                    <a class="btn btn-danger btn-block rounded-pill font-weight-bold hidebutton text-white"
                        href="/toggle/{{ url.id }}" title="Hide link on your customer LinkBuilder Page">Hide
                    </a>
                    {% else %}
                    <a class="btn btn-success btn-block rounded-pill font-weight-bold showbutton text-dark"
                        href="/toggle/{{ url.id }}" title="Show link on your customer LinkBuilder Page">Show</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% empty %}
<div class="jumbotron">
    <div class="row">
        <div class="col-12 text-center mt-2">
            <h1 class="font-weight-bold"><u>To Get Started</u></h1>
        </div>
        <div class="col-12 text-center mt-2">
            1. <a href="{% url 'profile' %}">Click Here</a> To Update Your Profile
        </div>
        <div class="col-12 text-center mt-2">
            2. Add Links By Clicking On The 'Add Link' Button
        </div>
    </div>
</div>
{% endfor %}

<script>
    $(document).ready(function () {
        $(".hidebutton, .showbutton").click(function () {
            // disable button
            $(this).prop("disabled", true);
            // add spinner to button
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`
            );
        });
    });
</script>
{% endblock %}