{% extends "links/base.html" %}

{% block content %}

<h3 class="text-center">{{ user_profile.company_name }}</h3>
{% for url in links %}

{% if url.visible == True %}
<a href="{{ url.link }}">
<div id="external-page-link-boxes" class="container border mb-2">
  <div class="row">
    <div class="col-2">
      {% if "placeholder" in url.url_image.url %}
      <img class="url-image account-img m-1" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
      {% else %}
      <img class="url-image account-img m-1" src="{{ url.url_image.url }}">
      {% endif %}
    </div>
    <div class="col-8 text-center d-flex flex-column align-self-center">

      <div><h4>{{ url.title }}</h4></div>
      <div><h5>{{ url.link }}</h5></div>
    </div>
    <div class="col-2">

    </div>
  </div>
</div>
</a>


</div>
{% endif %}
{% empty %}

<tr>
  <td>You have no data</td>
</tr>
{% endfor %}


{% endblock %}